.activities{
    margin-top:50px;
}

.table{
    font-size: 16px;
    font-family: 'DM Sans';
    margin-top: 24px;
}

.table > div:first-child{
    font-size: 1.2em;
    font-weight: 500;
    padding-bottom: 4px;
}

.table > *:not(:nth-last-of-type(1)){
    border-bottom: 1px solid #B6B6B6;
}

.table > *:not(:nth-of-type(1)){
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 6px 0;
}

.table ul{
    display: flex;
    flex-flow: row wrap;
}

.table a{
    font-weight: 400;
    color: var(--body-content);
    text-decoration: underline 1px solid var(--link-color);
    transition: color 150ms ease-in-out;
}
.table a:hover{
    color: var(--link-color);
    text-decoration: underline 2px solid var(--link-color);
}

.table p{
    margin: 0;
    color: var(--minor-content) !important;
    font-size: 0.9em;
    margin-bottom: 0 !important;
}

.table ul > li:not(:nth-last-of-type(1)):after{
    content: '•';
    margin: 0 8px;
}