.navbar{
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: 10px 14px;
    font-family: 'DM Sans';
    text-transform: lowercase;
    font-size: 16px;
    width: 100%;
}

.navbar a:hover{
    text-decoration: none;
}

nav.navbar{
    position: absolute;
    top:0;
    left:0;
    z-index:2;
}

footer.navbar{
    padding-bottom: 20px;
    justify-content:center;
}

.siteNav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}

.mobileToggle{
    position:relative;
}



.mobileToggle .mobileNav{
    font-weight: 400;
    color: var(--main-content);
    padding: 0 8px;
    margin: 0;
    margin-bottom: 4px;
    font-family: 'DM Sans';
    text-transform: lowercase;
    font-size: 16px;
    border-radius: 2px;
    transition: background 150ms ease, color 150ms ease;
    background: none;
 

    border: none;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;

    display:inline-flex;
    flex-flow: row nowrap;
    align-items: center;
}

.siteNav > *{
    margin-right: 2px;
}

.siteNav a{
    font-weight: 400;
    color: var(--main-content);
    padding: 0 4px;
    transition: background 150ms ease, color 150ms ease;
    border-radius: 2px;
}

.siteNav a:hover{
    background: var(--highlight-color);
    color: var(--main-content) !important;
}

.navbar.dark .siteNav a{
    color: white;
}

.navbar.dark .mobileToggle .siteNav a{
    color: var(--main-content);
}

.navbar.dark a.logo{
    color: white;
}

.active{
    /* font-weight:bold !important; */
    background: var(--highlight-color);
}

/* -------------- */

.mobileToggle .siteNav{
    position: absolute;
    top:100%;
    left:0;
    flex-flow: column nowrap;
    background: white;
    border:1px solid #ECECEC;
    padding: 5px 0px;
    border-radius: 2px;
    box-shadow: 4px 4px 0px #ECECEC;
}

.mobileToggle .siteNav a{
    width: 100%;
    font-weight: 400;
    color: var(--main-content);
    padding: 4px 8px;
    transition: background 150ms ease, color 150ms ease;
    border-radius: 0px;
    margin:0px;
}

.mobileToggle .siteNav a.active{
    background: unset;
}

.mobileToggle .siteNav a{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.mobileToggle .siteNav a:before{
    content: '';
    width: 12px;
    height: 18px;
    margin-right:2px;
}

.mobileToggle .siteNav a.active:before{
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='20' viewBox='0 0 12 20' fill='none'%3E%3Ccircle cx='6' cy='10' r='3' fill='%234154E8'/%3E%3C/svg%3E%0A");
    width: 12px;
    height: 18px;
    margin-right:2px;
}

.mobileToggle .siteNav a.active:hover,
.mobileToggle .siteNav a:hover{
    background: #ECECEC;
}

/* -------------- */

.mobileNav{
    display:none;
}

.mobileNav svg path{
    fill: var(--main-content);
    transition: fill 150ms ease;
}

.navbar.dark .mobileNav{
    color:white;
}

.navbar.dark .mobileNav svg path{
    fill: white;
}

.mobileNav:hover,
.mobileNav:focus,
.mobileNav[aria-expanded="true"]{
    background: var(--highlight-color);
    color: var(--main-content) !important;
}

.mobileNav:hover svg path,
.mobileNav:focus svg path,
.mobileNav[aria-expanded="true"] svg path{
    fill:var(--main-content) !important;
}

.mobileNav:focus{
    outline: 1px solid var(--link-color);
    outline-offset: -4px;
}

.mobileNav:active{
    transform: scale(0.95);
}

.mobileNav:focus {
    transform: scale(0.95);
}



/* -------------- */

.logo{
    font-size: 18px;
    color: var(--main-content);
    margin-right: 12px;
}

.dark .underline:after{
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 60 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.94358C4.86079 6.94358 7.70477 3.54437 10.2112 2.09168C12.7176 0.638984 12.7688 6.94358 15.2023 6.94358C17.6358 6.94358 20.3423 1.32535 22.252 1.01274C24.1616 0.700139 27.4761 6.24245 29.673 6.24245C31.8698 6.24245 35.0308 1.75963 36.8777 1.75963C38.7246 1.75963 41.9145 5.45627 44.1494 6.94358C46.3843 8.43088 49.6753 1.75963 52.4767 1.75963C55.278 1.75963 54.3956 6.94358 60 6.94358' stroke='%23FFFFFF' stroke-width='2'/%3E%3C/svg%3E");
}

.underline{
    display:inline-flex;
    flex-flow: column nowrap;
    line-height: 1;
}

.underline:after{
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 60 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.94358C4.86079 6.94358 7.70477 3.54437 10.2112 2.09168C12.7176 0.638984 12.7688 6.94358 15.2023 6.94358C17.6358 6.94358 20.3423 1.32535 22.252 1.01274C24.1616 0.700139 27.4761 6.24245 29.673 6.24245C31.8698 6.24245 35.0308 1.75963 36.8777 1.75963C38.7246 1.75963 41.9145 5.45627 44.1494 6.94358C46.3843 8.43088 49.6753 1.75963 52.4767 1.75963C55.278 1.75963 54.3956 6.94358 60 6.94358' stroke='%23383943' stroke-width='2'/%3E%3C/svg%3E");    
    flex-grow: 1;
    background-repeat: repeat-x;
    height:8px;
    /* width: 100%; */
}

/* -------------- */

footer.navbar{
    padding-top: 20px;
}

footer.navbar a:hover{
    background: none;
    color: var(--main-content);
    transition: color 150ms;
}

footer.navbar a{
    color: var(--minor-content);
}

footer.navbar svg path{
    fill: var(--minor-content);
}

footer.navbar svg:hover path{
    fill: black;
    transition: fill 150ms;
}
