.fullpage{
    position:absolute;
    width: 100%;
    top:0;
    bottom:0;
}

.scrollbars .vertical{
    width:4px;
    right:2px;
    background: var(--link-color);
    opacity: 0.5;
    border-radius:4px;
}

.scrollbars .horizontal{
    height: 4px;
    bottom: 2px;
    background: var(--link-color);
    opacity: 0.5;
    border-radius:4px;
}

/* ------ Sketch ------- */

.sketch{
    -webkit-user-select: none;
    user-select:none;
    padding: 4px;
    display:block;
}

.sketch:hover{
    border: 2px solid var(--link-color);
    padding:2px;
    transition: border 100ms ease, padding 100ms ease, transform 100ms ease-in-out;
    z-index:50;
    /* text-decoration:none; */
}


.sketch-thumbnail{
    width: 200px;
    /* height: 225px; */
    pointer-events:none;
}

.sketch h1{
    font-size: 14px;
    font-family: 'DM Sans';
    text-align:center;
    padding-bottom: 4px;
    color: var(--body-content);
    text-decoration:none;
}

.sketch:hover h1{
    color: var(--link-color);
    text-decoration:none;
}

.draggable.dragging{
    z-index:100;
    cursor:grabbing !important;
}

.draggable.dragging .sketch{
    transform: scale(1.1) rotate(3deg);
}

.sketch:hover .sketch-thumbnail{
    filter: url(#myfilter);
}


.draggable:hover{
    cursor:grab;
}

/* -------Sketchbook Controls---------- */

.sketchbook-controls{
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    padding: 8px 12px;
    margin-right: 10px;
    margin-bottom: 10px;
    z-index: 10000000;
    background: rgba(255,255,255,0.8);
    border-radius:4px;
    bottom: 0px;
    right: 0px;
    backdrop-filter: blur(1px);
}

.sketchbook-controls > *{
    margin-right: 4px;
}

.sketchbook-controls button{
    --btn-color: var(--body-content);
    --btn-background: none;
    --btn-hover-background:rgba(189, 195, 240, 1);
    --btn-hover-color: var(--link-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    border: none;
    padding: 6px;
    /* margin: 0; */
    text-decoration: none;
    background: var(--btn-background);
    color: var(--btn-color);
    font-family: sans-serif;
    /* font-size: 1rem; */
    cursor: pointer;
    text-align: center;
    transition: background 150ms ease-in-out, 
                transform 150ms ease;
    
    display:flex;
    flex-flow: row nowrap;
    align-items:center;
    border-radius: 4px;
}

.sketchbook-controls button:hover,
.sketchbook-controls button:focus {
    background: var(--btn-hover-background);
}

.sketchbook-controls button:active {
    transform: scale(0.95);
}

.sketchbook-controls button path{
    fill: var(--btn-color);
    transition: fill 150ms ease-in-out;
}

.sketchbook-controls button:hover path,
.sketchbook-controls button:focus path{
    fill: var(--btn-hover-color);
}

@supports(-webkit-appearance: none) or (-moz-appearance: none){
    .sketchbook-controls input[type='checkbox']{
        -webkit-appearance: none;
        -moz-appearance: none;
        --active: #275EFE;
        --active-inner: #FFF4A6;
        --focus: 2px rgba(29,94,254,0.1);
        --border: #E0E0E0;
        --border-hover: #275EFE;
        --background: #fff;

        height:36px;
        width:72px;
        border-radius: 18px;
        outline:none;
        display:inline-block;
        vertical-align:top;
        background: var(--slider-background);
        cursor:pointer;
        position:relative;
        transition:border-color .3s, background 0.2s, box-shadow .2s;
        margin:0;
        box-sizing:content-box;
        border: none;
    }
    .sketchbook-controls input[type='checkbox']:after{
        content: '';
        display:block;
        position:absolute;
        transition: transform 0.2s ease, opacity 0.2s;
        transform-origin: center;
        left:0px;
        top:0px;
        border-radius: 50%;
        width: 36px;
        height:36px;
        background: var(--slider-toggle);
        transform: translateX(var(--x,0)) scale(var(--scale,1));
        z-index: 1;
    }

    .sketchbook-controls .icon-toggle{
        position: relative;
        display:inline-block;
        --slider-background: #EFEFEF;
        --slider-toggle: #BDC3F0;
        --slider-color: #383943;
        --slider-active-color: #4154E8;
        margin-left: 8px;
        /* width: 70px; */
    }

    .sketchbook-controls .icon-toggle svg{
        position:absolute;
        top: 0;
        right:0;
        padding: 6px;
        z-index:2;
        pointer-events: none;
    }

    .sketchbook-controls .icon-toggle svg:first-of-type{
        left:0;
    }

    .sketchbook-controls .icon-toggle svg path{
        fill: var(--slider-color);
        transition:fill .3s
    }

    .sketchbook-controls .icon-toggle svg:first-of-type path{
        fill:var(--slider-active-color);
    }

    .sketchbook-controls input[type='checkbox']:checked ~ svg:first-of-type path{
        fill: var(--slider-color);
    }

    .sketchbook-controls input[type='checkbox']:checked ~ svg path{
        fill: var(--slider-active-color);
    }

    .sketchbook-controls input[type='checkbox']:checked{
        --x: 36px;
    }
    .sketchbook-controls input[type='checkbox']:hover{
        --bc: var(--border-hover);
        --scale: 1.1;
    }
    .sketchbook-controls input[type="checkbox"]:focus{
        box-shadow: 0 0 0 2px var(--slider-toggle);
    }
}

/* ----- Sticky ------ */

.sticky{
    width: 160px;
    padding: 12px;
    min-height: 100px;
    border-radius: 4px;
    background: #E3E6FF;
    /* border: 2px solid #4154E8; */
    opacity:0.8;
    transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
    display: flex;
    flex-flow: column;
    justify-content:center;
    align-items:center;
}

.sticky:hover{
    opacity:1;
    text-decoration:none;
}

.sticky p{
    font-family: 'DM Sans';
    font-size: 18px;
    color: var(--link-color);
    text-align:center;
    margin:0;
    line-height:1.2;
    font-weight:400;
}

.sticky svg{
    width:24px;
    fill: var(--link-color);
    margin-top:12px;
}

.draggable.dragging .sticky{
    transform: scale(0.9) rotate(3deg);
}